html, body {
	font-family: 'Lora', Georgia, serif;
	background-color: #fff;
	color: #000;
}

h1, h2, h3 {
	font-family: sans-serif;
}

h1 {
	font-size: xx-large;
}

h2 {
	font-size: x-large;
}

h3 {
	font-size: medium;
}

a:link {text-decoration:none; color:#A41034;}
a:link.this-page {text-decoration:underline;}
a:visited {text-decoration:none; color:#A41034;}
a:hover {text-decoration:underline; color:#000;}
a:active {text-decoration:underline;}

.logo {
	font-weight: 200;
	font-size: 3.7em;
	word-spacing: 0.5em;
}

.logo a {
	text-decoration: none;
	font-family: sans-serif;
	color: black;
}

nav {
	border-top: 1px #000 solid;
	border-bottom: 1px #000 solid;
}

nav a {
  font-size: 1.4rem;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'karla', 'century gothic', sans-serif;
  display:inline-block;
  margin-right: 2rem;
}

main img {
	float:right;
	padding: 5px 5px 5px 20px;
	width:200px;
	height:224px;
}

#doodle {
	margin-right:auto;
	margin-left:auto;
	display:block;
}

td {
	vertical-align: top;
	text-align: left;
	padding-right: 1rem;
}

tr + tr td {
	padding-top: 1rem;
}

pre {
	overflow-x: auto;
	padding-bottom: 7px;
}

/* @media (max-width: 319px) {
  body {
    width: 90%;
    margin: 0;
    padding: 0 5%;
  }
  header {
    margin: 4.2rem 0;
  }
  nav {
    margin: 0 auto 3rem;
    text-align: center;
  }
  footer {
    text-align: center;
  }
  .logo {
    text-align: center;
    margin: 1rem auto 3rem;
  }
  .logo a {
    font-size: 2.4rem;
  }
  nav a {
    display: block;
    line-height: 1.6;
  }
}

@media (min-width: 320px) {
  body {
    width: 90%;
    margin: 0;
    padding: 0 5%;
  }
  header {
    margin: 4.2rem 0;
  }
  nav {
    margin: 0 auto 3rem;
    text-align: center;
  }
  footer {
    text-align: center;
  }
  .logo {
    text-align: center;
    margin: 1rem auto 3rem;
  }
  .logo a {
    font-size: 2.4rem;
  }
  nav a {
    display: inline;
    margin: 0 0.6rem;
  }
} */

@media (min-width: 640px) {
  body {
    width: 50rem;
    margin: 0 auto;
    padding: 0;
  }
  header {
    margin: 0 0 2rem;
    padding: 1.2rem 0;
  }
  main {
	  padding: 0 5% 0 5%;
	  font-size: 1.2rem;
  }
  nav {
    margin: 0;
	padding: 1rem 0;
    text-align: left;
  }
  nav a {
    margin: 0 0 0 5%;
    display: inline;
  }
  footer {
    text-align: right;
	padding: 2.7rem 5% 0 5%;
  }
  .logo {
    text-align: left;
	display: block;
	padding: 1.5rem 0 1.5rem 5%;
  }
  .logo a {
	display: inline;
    font-size: 3.8rem;
  }
}



/*
#container {
	width: 780px;
	margin-left: auto;
	margin-right: auto;
	}

#name {
	padding: 10px 0px 10px 30px;
	}

h1, h2 {
	font-family:'Karla', sans-serif;
	}

#name h1 {
	font-weight:200;
	font-size:3.7em;
	word-spacing: .5em;
	}

h1 {
	word-spacing: .5em;
}

.cv {
	border-bottom: 1px #000 solid;
	padding-bottom: 10px;
}

#content h1{
	margin-top: 0px;
}

h2 {
	font-size:1.5em;
}

p {
	font-size:1.1em;
	}

h1, li a {
	background-color: white;
	}

mark {
	background-color:white;
	}

#header-panel {
	width:100%;
	margin:0px;
	border-top: 1px #000 solid;
	border-bottom: 1px #000 solid;
	}

#nav {
    list-style-type:none;
	margin: 10px 0px;
	padding-left: 60px;
	}

#nav li {
	display:inline-block;
	height:15px;
	}

#nav li a {
	font-family: 'karla', 'century gothic', sans-serif;
	display:inline-block;
	margin-right:60px;
	font-size: 20px;
}

td {
	padding: 0px;
}

.research {
	list-style-type:none;
	padding-left: 20px;
}

.research td {
	vertical-align: top;
	text-align: left;
	padding-right: 20px;
}

.research td~td {
	padding: 0px;
}

.research span {
	text-decoration: underline;
}

#content {
	margin: 30px 10px;
	padding: 15px 20px;
	}

#face {
	float:right;
	padding: 5px 5px 5px 20px;
	width:200px;
	height:224px;
	}

#doodle {
	margin-right:auto;
	margin-left:auto;
	display:block;
	}

#footer {
	width:100%;
	margin-bottom:10px;
	border-top:1px #A41034 solid;
	}

#vistable {
	width:100%;
	text-align: center;
	}

.gallery{
	max-height:175px;
	max-width: 175px;
	height:auto;
	width:auto;
	}

a:link {text-decoration:none; color:#A41034;}
a:link.this-page {text-decoration:underline;}
a:visited {text-decoration:none; color:#A41034;}
a:hover {text-decoration:underline; color:#000;}
a:active {text-decoration:underline;}
*/
