<h1>Research</h1>
<p>
    My main research areas are the semantics of imperfective
    (especially progressive) aspect, semantic change and computational
    modeling, and the syntax and semantics of concessive clauses
    (e.g., adverbial clauses headed by <i>even though</i> and <i>although</i>).
    In the past, I have also worked on the semantics of complementizers
    and reportative constructions.
</p>

<h2>Publications</h2>
$partial("templates/publications-list.html")$

<h2>Presentations</h2>
$partial("templates/presentations-list.html")$
